<div class="modal-dialog" role="document">
  <div class="modal-content background">
    <div class="modal-body">
      <h5 class="modal-title p-3 font-header" id="exampleModalLabel">{{ movie?.title }}</h5>
      <div *ngIf="hasPoster()" class="d-flex justify-content-center p-2">
        <img class="poster" [title]="movie?.title" 
        [src]="'https://image.tmdb.org/t/p/w200' + movie?.poster_path" />
        <img class="picture-frame"
        src="../../../assets/movie-frame.png"/>
      </div>
      <div class="text-right pr-4 font-header">
        <small>{{ movie?.release_date | date }}</small>
      </div>
      <div class="px-3 py-2 font-text">
        {{ movie?.overview }}
      </div>
    </div>
    <div class="text-center p-3">
      <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>