<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand font-header" href="#">
        <img class="logo d-inline-block align-top" src="../../../assets/camera-gray.png"/>
        video archives
    </a>
    <form #formSearch="ngForm" (ngSubmit)="onSubmit(formSearch)" novalidate>
        <input  type="text" class="form-control" aria-label="Default" 
        aria-describedby="inputGroup-sizing-default"
        name="first" ngModel #first="ngModel"
        (ngModelChange)="onSubmit(formSearch)">
    </form>
</nav>

<div class="container">
    <div class="list-group m-3 p-4">
        <a *ngFor="let result of search?.results; index as resultIndex;
        first as firstIndex; last as lastIndex;" 
            class="list-group-item list-group-item-action"
            [ngClass]="{'rounded-top': firstIndex, 'rounded-bottom': lastIndex}"
            data-toggle="modal" data-target="#modalMovie"
            (click)="viewDetails(resultIndex)">
            {{ result.title }}
        </a>
    </div>
    
    <div class="modal fade" id="modalMovie" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-movie-modal
            [movie]="movieDetails"
        ></app-movie-modal>
    </div>
</div>
