/* You can add global styles to this file, and also import other style files */

.font-header {
    color: rgb(130,130,130)!important;
    font-family: 'Josefin Sans', sans-serif;
}

.font-text {
    color: #a5a5a5!important;
    font-family: 'Urbanist', sans-serif;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, black 0%, #6582a3 100%);
}